.restaurant {
  width: min(500px, 100vw);
}

.restaurant__detail {
  background: white;
  margin-block: 2vh;
  border-radius: var(--radius-bg);
  padding: 4vw;
}

.restaurant__detail-top-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 5px;
}

.restaurant__detail-top-location .location-icon {
  color: var(--pry-clr);
}

.restaurant__detail-img {
  width: 100%;
  aspect-ratio: 2/1.5;
  border-radius: var(--radius-sm);
  overflow: hidden;
  margin-block: 10px 20px;
  background: url("../../assets/images/foodBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.restaurant__detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant__detail-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.restaurant__detail-bottom-food-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.restaurant__detail-bottom-food-tags span {
  font-size: 12px;
  color: var(--neutral-clr-dark);
  padding: 4px 10px;
  border-radius: var(--radius-sm);
  background: var(--body-clr-dark);
  min-width: max-content;
}

.restaurant__book {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(500px, 100vw);
  padding: 2vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant__book button {
  background: var(--pry-clr);
  color: white;
  padding: 10px 20px;
  border-radius: var(--radius-sm);
  box-shadow: 0 2px 5px rgba(14, 127, 61, 0.24);
}

.restaurant__other {
  padding: 4vw 2vh;
}
