.area {
  margin-block: 20px;
}

.area__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 4vw;
  border-bottom: 1px solid var(--body-clr-dark);
  color: var(--text-clr);
  transition: 0.2s;
}

.area__list:hover {
  background: var(--body-clr-dark);
}

.area__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.area__left img {
  width: 60px;
}

.area__loader {
  padding-inline: 4vw;
}

.area .view-more-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
