.cart__container {
  width: 100%;
  padding: 0 4vw;
  margin-top: 30px;
}

.cart__item {
  padding: 4%;
  background: white;
  border-radius: var(--radius-sm);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.cart__item-img {
  width: 80px;
  height: 80px;
  border-radius: calc(var(--radius-sm) / 2);
  overflow: hidden;
}

.cart__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-quantity-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block: 6px;
}

.meal-quantity-toggle .qty-toggle-icon {
  font-size: 20px;
  color: var(--neutral-clr-dark);
}

.meal-price {
  color: var(--neutral-clr-dark);
}

.cart__item-delete-icon {
  margin-left: auto;
  font-size: 20px;
}

.cart__item-delete-icon .del-icon {
  color: red !important;
}

.cart__bottom {
  width: 100%;
  padding: 4%;
  background: white;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
