.cart__container {
  width: 100%;
  padding: 0 4vw;
  margin-top: 20px;
}

.cart__item {
  padding: 4%;
  background: white;
  border-radius: var(--radius-sm);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.cart__item-img {
  min-width: 80px;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: calc(var(--radius-sm) / 2);
  overflow: hidden;
}

.cart__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-quantity-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block: 6px;
}

.meal-quantity-toggle span {
  display: flex;
  align-items: center;
}

.meal-quantity-toggle span label {
  padding: 5px;
  font-size: 12px;
  background: var(--body-clr-dark);
  color: var(--neutral-clr-dark);
  border-radius: var(--radius-sm);
  border: 2px solid transparent;
  transition: all 0.2s linear;
}

.meal-quantity-toggle span input[type="radio"] {
  display: none;
}

.meal-quantity-toggle span input[type="radio"]:checked + label {
  border: 2px solid var(--pry-clr);
  color: var(--pry-clr);
  background: transparent;
}

.cart__item-delete-icon {
  margin-left: auto;
  font-size: 20px;
}

.cart__item-delete-icon .del-icon {
  color: red !important;
}

.cart__bottom {
  width: 100%;
  padding: 4%;
  background: white;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  left: 0;
}

.cart__bottom .home-btn {
  height: 48px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--body-clr-dark);
  border-radius: var(--radius-sm);
  font-size: 24px;
  color: var(--neutral-clr-dark);
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.empty-cart__img {
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-cart__img img {
  width: 100%;
}

.empty-cart__text {
  text-align: center;
  margin-bottom: 10px;
}
