.meallistplaceholder {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 74px;
  background: white;
  border-radius: var(--radius-sm);
  margin-bottom: 20px;
}

.meallistplaceholder__img {
  margin-left: 7px;
  height: 80%;
  aspect-ratio: 1/1;
  background: var(--body-clr);
  animation: animateBg 3s linear alternate infinite;
  border-radius: calc(var(--radius-sm) / 2);
}

.meallistplaceholder__content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.meallistplaceholder__content-header,
.meallistplaceholder__content-subtitle,
.meallistplaceholder__content-button {
  background: var(--body-clr);
  animation: animateBg 3s linear alternate infinite;
  border-radius: calc(var(--radius-sm) / 2);
}

.meallistplaceholder__content-header {
  height: 20px;
  width: 80%;
}

.meallistplaceholder__content-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meallistplaceholder__content-bottom span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
}
.meallistplaceholder__content-subtitle {
  height: 10px;
  width: 100%;
}

.meallistplaceholder__content-button {
  height: 30px;
  width: 100px;
}

@keyframes animateBg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
