.home__highlights-reel {
  width: 100%;
  border-radius: var(--radius-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__highlights-reel.reel-1 {
  background: linear-gradient(135deg, #ff9f06, #ffe1b4);
}

.home__highlights-reel.reel-2 {
  background: linear-gradient(135deg, #00cb66, #b1ffd8);
}

.home__highlights-reel.reel-3 {
  background: linear-gradient(135deg, #4663f1, #9ff7da);
}

.home__highlights-reel-content {
  padding-left: 20px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home__highlights-reel-content .reel-logo {
  width: 26px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.home__highlights-reel-content .reel-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__highlights-reel-content .reel-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home__highlights-reel-content .reel-text h2,
.home__highlights-reel-content .reel-text p {
  color: white !important;
}

.home__highlights-reel-content .reel-cta {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
}

.home__highlights-reel-content .reel-cta p {
  color: white !important;
}

.swiper-pagination-bullet-active {
  transform: scale(1.5);
  background: #00cb66 !important;
}

.home__new-arrivals {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.home__new-arrivals-cards {
  display: flex;
  gap: 10px;
  max-width: 100vw;
  overflow-x: scroll;
  padding-left: 4vw;
}

.home__new-arrivals-list {
  padding-inline: 4vw;
}
