.forgotpassword {
  padding-top: 15vh;
  position: relative;
  height: calc(95dvh - 1vh);
}

.forgotpassword__form {
  margin-top: 5vh;
}

.forgotpassword__submit-btn {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.mailsent {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  inset: 0;
  background: var(--body-clr);
  padding: 5vh 0;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

.mailsent.active {
  transform: scale(1);
  opacity: 1;
}

.mailsent__btn {
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailsent__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  position: absolute;
  top: 20vh;
  padding: 0 4vw;
}

.mailsent__content-img {
  margin-bottom: 20px;
}
