.mealplaceholder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: var(--radius-bg);
  background: white;
  margin-block: 2vh;
  z-index: 2 !important;
}

.mealplaceholder__top-name,
.mealplaceholder__top-location,
.mealplaceholder__image,
.mealplaceholder__bottom span {
  background: var(--body-clr-dark);
  border-radius: calc(var(--radius-sm) / 2);
  animation: animateBg 3s linear alternate infinite;
}

.mealplaceholder__image {
  border-radius: var(--radius-sm) !important;
}

.mealplaceholder__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mealplaceholder__top-name {
  height: 20px;
  width: 90%;
}

.mealplaceholder__top-location {
  height: 10px;
  width: 80%;
}

.mealplaceholder__image {
  width: 100%;
  aspect-ratio: 2/1.4;
}

.mealplaceholder__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mealplaceholder__bottom span {
  height: 20px;
  aspect-ratio: 4/1;
}

.mealplaceholder__bottom span:nth-child(2) {
  aspect-ratio: 3/1;
}

@keyframes animateBg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
