.mealcardplaceholder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mealcardplaceholder__container {
  width: 148px;
  height: 170px;
  background: white;
  border-radius: var(--radius-sm);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.mealcardplaceholder__container-img {
  height: 104px;
  width: 100%;
  background: #dfdfdf;
  margin-inline: auto;
  border-radius: calc(var(--radius-sm) / 2);
  animation: animateBg 3s linear alternate infinite;
}

.mealcardplaceholder__container-content {
  width: 100%;
  background: #dfdfdf;
  margin-inline: auto;
  height: 20px;
  border-radius: calc(var(--radius-sm) / 2);
  animation: animateBg 3s linear alternate infinite;
}

.mealcardplaceholder__container-content.short {
  transform: scaleX(0.8);
  height: 10px;
  transform-origin: left;
}

@keyframes animateBg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
