.home__nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(500px, 100vw);
  padding: 2vh 10vw;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  border-radius: var(--radius-bg) var(--radius-bg) 0 0;
  background-color: white;
  z-index: 100;
}

.home__nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__nav ul li {
  font-size: 24px;
  color: var(--neutral-clr-dark);
  position: relative;
}

.home__nav ul li.active {
  color: var(--pry-clr);
}

.cart-item-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  width: 15px;
  height: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  color: white;
}
